@import "normalize";
@import "variables";
//@import "stars";
@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');

html, body {
    height: 100vh;
    font-family: 'Jura', sans-serif;
}

.world-landing {

    color:rgb(222, 235, 255);
    text-align: center;
    height: 100vh;
    background:
        url(../img/A_world.svg) no-repeat center top,
        linear-gradient(45deg, hsla(223, 88%, 10%, 1) 0%, hsla(223, 88%, 10%, 0) 90%),
        linear-gradient(135deg, hsla(253, 100%, 10%, 1) 0%, hsla(253, 100%, 10%, 0) 90%),
        linear-gradient(225deg, hsla(203, 100%, 10%, 1) 0%, hsla(203, 100%, 10%, 0) 90%),
        linear-gradient(315deg, hsla(103, 44%, 5%, 1) 0%, hsla(103, 44%, 5%, 0) 90%);
    background-size: auto 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo {
        display: block;
        text-decoration: none;
        font-size: 40px;
        color:rgb(222, 235, 255);
        text-shadow: 5px 5px 20px hsla(223, 88%, 10%, 1);
        @media (min-width: 1024px) {
          font-size: 80px;
        }
    }

    &__text {
        padding: 50px;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.6;
        text-shadow: 5px 5px 20px hsla(223, 88%, 10%, 1);
        @media (min-width: 1024px) {
            font-size: 30px;
            padding: 100px 200px;
        }
    }

}

.sky-landing {
    background: linear-gradient(#111627 0%,#312041 40%, #223a6a 70%, #355ab0 100%);
    color:rgb(222, 235, 255);
    position: relative;

    &__wrap {
        padding: 40px 30px 0;
        @media (min-width: 1024px) {
            padding: 100px 150px 0;
        }
    }

    &__row {
        @media (min-width: 1024px) {
            display: flex;
        }
    }

    &__cell {
        padding-bottom: 40px;
        @media (min-width: 1024px) {
            flex-basis: 33.33%;
            padding-right: 40px;
            &:last-child {
                padding-right: 0;
            }
            &_wide {
                flex-basis: 100%;
            }
        }
    }

    &__card {
        background: rgba(250,250,250,0.05);
        padding: 30px;
    }

    &__card-header {
        font-size: 20px;
        font-weight: 600;
        padding: 20px 0;
        @media (min-width: 1024px) {
            font-size: 30px;
        }
    }

    &__card-content {
        line-height: 1.5;
        font-size: 15px;
        @media (min-width: 1024px) {
            font-size: 18px;
        }
        ul {
            padding-left: 20px;
            list-style-type: square;
            list-style-position: outside;
        }
    }

    &__card-link {
        text-align: right;
        a {
            color:rgb(222, 235, 255);
            padding-right: 30px;
            background: url(/link.svg) no-repeat right bottom;
            background-size: contain;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__header {
        padding: 50px 0;
        font-size: 25px;
        @media (min-width: 1024px) {
            font-size: 50px;
        }
    }

}

.tech-landing {

    padding-bottom: 200px;

    background:
        url(../img/cloud_1.png) no-repeat left bottom,
        url(../img/cloud_4.png) no-repeat right bottom,
        linear-gradient(#355ab0 0%,#527ccc 100%);
    background-size: 50% auto, 40% auto, contain;
    @media (min-width: 1024px) {
        padding-bottom: 400px;
        background:
            url(../img/cloud_1.png) no-repeat left bottom,
            url(../img/cloud_3.png) no-repeat center bottom,
            url(../img/cloud_4.png) no-repeat right bottom,
            linear-gradient(#355ab0 0%,#527ccc 100%);
        background-size: auto, auto, auto, contain;
    }

    &__text {
        padding: 20px 30px 40px;
        font-size: 25px;
        color:rgb(222, 235, 255);
        @media (min-width: 1024px) {
            font-size: 50px;
            padding: 50px 150px 100px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 30px;
        @media (min-width: 1024px) {
            padding: 0 200px;
        }
    }

    &__image {
        display: block;
        margin-right: 40px;
        margin-bottom: 30px;
        opacity: 0.9;
        &_oracle {
            height: 17px;
        }
        &_python {
            height: 34px;
        }
        &_cpp {
            height: 34px;
        }
        &_java {
            height: 60px;
        }
        &_postgre {
            height: 50px;
        }
        &_js {
            height: 34px;
        }
        &_git {
            height: 34px;
        }
        &_svn {
            height: 44px;
        }
        @media (min-width: 1024px) {
            margin-right: 120px;
            margin-bottom: 80px;
            &_oracle {
                height: 40px;
            }
            &_python {
                height: 80px;
            }
            &_cpp {
                height: 80px;
            }
            &_java {
                height: 144px;
            }
            &_postgre {
                height: 120px;
            }
            &_js {
                height: 80px;
            }
            &_git {
                height: 80px;
            }
            &_svn {
                height: 104px;
            }
        }
    }

}

.contact-landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
    &__map {
        flex-grow: 1;
        filter: grayscale(70%);
    }
    &__text {
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-around;
            font-size: 20px;
        }
        color:rgb(222, 235, 255);
        font-size: 15px;
        font-weight: 600;
        line-height: 1.6;
        background:
            linear-gradient(45deg, hsla(223, 88%, 10%, 1) 0%, hsla(223, 88%, 10%, 0) 90%),
            linear-gradient(135deg, hsla(253, 100%, 10%, 1) 0%, hsla(253, 100%, 10%, 0) 90%),
            linear-gradient(225deg, hsla(203, 100%, 10%, 1) 0%, hsla(203, 100%, 10%, 0) 90%),
            linear-gradient(315deg, hsla(103, 44%, 5%, 1) 0%, hsla(103, 44%, 5%, 0) 90%);
    }
    &__text-cell {
        padding: 5px;
        display: flex;
        align-items: center;
        @media (min-width: 1024px) {
            padding: 20px;
        }
    }
    &__text-cell-label {
        a {
            color:rgb(222, 235, 255);
            text-decoration: none;
        }
        width: 200px;
        @media (min-width: 1024px) {
            width: auto;
        }
    }
    &__text-cell-image {
        height: 30px;
        margin-right: 20px;
        @media (min-width: 1024px) {
            height: 50px;
            margin-right: 30px;
        }
        &_map {
            height: 40px;
            @media (min-width: 1024px) {
                height: 60px;
            }
        }
    }
}
